kokoro==0.9.4
misaki[en,zh]==0.9.4
transformers>=4.51,<5
pyopenjtalk-plus==0.4.1.post9
fugashi>=1.5,<2
mojimoji>=0.0.13
jaconv>=0.5,<1
unidic==1.1.0
unidic-lite==1.0.8
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
